.fbutton {
  background-color: rgb(46, 46, 46);
  border-color: white;
  color: rgb(0, 255, 98);
  border-top-color: rgb(0, 255, 98);
  border-right-color: rgb(0, 255, 98);
  border-bottom-color: rgb(0, 255, 98);
  border-left-color: rgb(0, 255, 98);
  width: 220px;
  height: 40px;
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.fbutton:hover {
  background-color: rgb(100, 100, 100);
  border-color: white;
  color: rgb(46, 253, 125);
  border-top-color: rgb(46, 253, 125);
  border-right-color: rgb(46, 253, 125);
  border-bottom-color: rgb(46, 253, 125);
  border-left-color: rgb(46, 253, 125);
}


._Title {
  background-color: rgb(88, 47, 100);
  border-color: white;
  border: solid;
  border-width: 2px;
  align-content: center;
  height: fit-content;
  width: auto;
  color: gold;
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: xx-large;
  font-style: normal;
  text-align: center;
}